/*三列布局*/
.left {
    width: 300px;
    height: 200px;
    float: left;
    background-color: red;
}

.right {
    width: 300px;
    height: 200px;
    float: right;
    background-color: blue;
}

.middle {
    width: 100%;
    height: 200px;
    /*margin-left: 300px;*/
    /*margin-right: 300px;*/
    background-color: yellow;
}

/*two layout*/

#content .main {
    height: 200px;
    background-color: red;
    overflow: auto

}

#content .aside {
    width: 300px;
    height: 200px;
    background-color: green;
    float: left;
}

/*fixed width and height center position*/
#center {
    width: 300px;
    height: 200px;
    background-color: blue;
    margin: 0 auto;
}

/*non-fixed center position*/
table {
    border: 1px solid red;
    margin: 0 auto;
}

/*horizon and vertical center*/
.winmiddle {
    width:300px;
    height:200px;
    background-color:purple;
    position:absolute;
    left: 50%;
    top:50%;
    margin:-100px 0 0 -150px;
}